
.styleCheckbox {
    font-size: 20px;
    padding-left: 30px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .styleCheckbox {
        padding-left: 0;
    }
    .styleCheckbox span {
        padding-left: 2px;
    }
    span.MuiTypography-root-213.MuiTypography-body1-222.MuiFormControlLabel-label-242 {
        font-size: 12px;
    }
}
