.form {
margin-left: 380px;
    width: 1000px;

}
/*
.input-search {
    height:300;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin-left: 40px;
    text-align: center;
}*/

/*.input-search::-webkit-input-placeholder {
    font-size: 15px;

}*/

.button-search {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}