body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}
h1 {
    font-size: 30px;
    /*color: #C6596F;*/
    /*color: #76c143;*/
    color: #444444;
}
h2 {
    font-size: 24px;
    color: #444444;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    text-align: center;
    color: #76c143;
}