.navigation {

}
.navigation img {
    height: 50px;
    padding: 2px;
}
.navigation li {
    list-style-type: none;
    font-size: 18px;
}

.navigation a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.navigation title {
    color: red;
}
.MuiTypography-colorInherit-77 {
    color: red;
    font-size: 28px;
}
.MuiTypography-root-57 {
    margin-left: 100px;
    display: block;
}
.MultiToolbar {
    color: red;
}
.MuiGrid-grid-xs-12-41 {
    padding-bottom: 80px;
}