
.MuiToolbar-root-37 {
    background-color: white;
}

.navigation img {
    height: 50px;
    padding: 2px;
}

.navButton a {
    text-decoration: none;
    color: #444;
    list-style-type: none;
    font-size: 12px;
    padding-top: 5px;
}

.MuiTypography-colorInherit-77 {
    color: white;
    font-size: 28px;
}

.MuiTypography-root-57 {
    margin-left: 100px;
    display: block;
}

.MuiGrid-grid-xs-12-41 {
    padding-bottom: 80px;
}

.styleNav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navButtonAll {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .styleNav {
        flex-direction: column;
    }
}
